<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--通过这个配置文件，完成mybatis与数据库的连接  -->
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!-- 设置类的别名 -->
    <typeAliases>
        <typeAlias alias="HelloPojo" type="com.zlz.hello.dal.pojo.HelloPojo"/>
    </typeAliases>
    
    <!-- pojo的映射文件UserMapper引入到配入到配置文件中 -->
    <mappers>
    </mappers>
</configuration>